<div ng-include="'components/navbar/navbar.html'"></div>

  <header id="header" class="header">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <div class="row header-box">
            <div class="col-md-6 intro-message box animated fadeIn delay2">
              <h1 class="margin-20">Real-Time Parking Analytics</h1>
              <p class="margin-10">Maximize your bottom line with smart enforcement routing and dynamic pricing</p>
              <div class="col-md-10 col-md-offset-1 text-center animated fadeIn delay2">
                <a id="button-blue" class="btn-blue-animate btn-text-transparent" href="#">Contact Us Now</a>
              </div>
            </div>
            <div class="col-md-6 hidden-xs text-center">
              <div class="iphone-container animated fadeInDown">
                <img src="assets/images/iphone.png" class="img-responsive" alt="...">
                <div class="iphone-screen">
                  <div id="screen-slider" class="carousel slide absolute" data-ride="carousel">
                    <div class="carousel-inner absolute">
                      <div class="item active absolute">
                        <img src="assets/images/slider-features.png" alt="...">
                      </div>
                      <div class="item absolute">
                        <img src="assets/images/slider-comments.png" alt="...">
                      </div>
                    </div>
                  </div>
                </div> <!-- / screen slider -->
              </div> <!-- / iphone container -->
            </div>
          </div>
        </div>
      </div>
    </div> <!-- /.container -->
  </header> <!-- /.intro-header -->

  <!-- Services Section -->
  <section id="services" class="services">
    <div class="container">
      <div class="row">  
        <div class="col-md-4">
          <div class="services-box">
            <div class="icon">
              <span class="fa fa-map-marker fa-5x"></span>
            </div>
            <h3>Manages Services</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sed ligula odio. Sed id metus felis. Ut pretium nisl non justo condimentum id tincidunt nunc faucibus. Ut neque eros, pulvinar eu blandit quis, lacinia nec.</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="services-box">
            <div class="icon">
              <span class="fa fa-gear fa-5x"></span>
            </div>
            <h3>Manages Services</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sed ligula odio. Sed id metus felis. Ut pretium nisl non justo condimentum id tincidunt nunc faucibus. Ut neque eros, pulvinar eu blandit quis, lacinia nec.</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="services-box">
            <div class="icon">
              <span class="fa fa-tablet fa-5x"></span>
            </div>
            <h3>Manages Services</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sed ligula odio. Sed id metus felis. Ut pretium nisl non justo condimentum id tincidunt nunc faucibus. Ut neque eros, pulvinar eu blandit quis, lacinia nec.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Services Section -->

  <!-- Quote -->
  <div id="quote" class="quote">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <p class="text-center blue"><span class="fa fa-quote-left"></span>&nbsp;SpotWise is the dopest thing I've ever seen!&nbsp;<span class="fa fa-quote-right"></span></p>
        </div>
      </div>
    </div>
  </div>
  <!-- End Quote -->

  <!-- About Section -->
  <section id="about" class="about">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="title-page">
            <h2 class="title">About SpotWise</h2>
            <h3 class="title-description">Our Team &amp; Culture.</h3>
            <div class="page-description">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sed ligula odio. Sed id metus felis. Ut pretium nisl non justo condimentum id tincidunt nunc faucibus. 
              Ut neque eros, pulvinar eu blandit quis, lacinia nec ipsum. Etiam vel orci ipsum. Sed eget velit ipsum. Duis in tortor scelerisque felis mattis imperdiet. Donec at libero tellus. 
              <a href="#">Suspendisse consectetur</a> consectetur bibendum. Pellentesque posuere, ligula volutpat elementum interdum, diam arcu elementum ipsum, vel ultricies est mauris ut nisi.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row margin-40">
        <div class="col-md-6">
          <h3>Our Culture</h3>
          <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sed ligula odio. Sed id metus felis. Ut pretium nisl non justo condimentum id tincidunt nunc faucibus. 
          Ut neque eros, pulvinar eu blandit quis, lacinia nec ipsum. Etiam vel orci ipsum. Sed eget velit ipsum. </p>
          <p>Duis in tortor scelerisque felis mattis imperdiet. Donec at <a href="#">libero tellus</a>. Suspendisse consectetur consectetur bibendum.</p>
        </div>
        <div class="col-md-6">
          <h3>Our Method</h3>
          <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sed ligula odio. Sed id metus felis. Ut <strong>pretium nisl</strong> non justo condimentum id tincidunt nunc faucibus. 
          Ut neque eros, pulvinar eu blandit quis, lacinia nec ipsum. Etiam vel orci ipsum. Sed eget velit ipsum. </p>
          <p>Duis in tortor scelerisque felis mattis imperdiet. Donec at libero tellus. Suspendisse consectetur consectetur bibendum.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 profile">
          <div class="image-wrap">
            <div class="hover-wrap">
              <span class="overlay-img"></span>
              <span class="overlay-text-thumb">CEO/Founder</span>
            </div>
            <img src="assets/images/james.png" alt="James Crater">
          </div>
          <h3 class="profile-name">James Crater</h3>
          <p class="profile-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac augue at erat <a href="#">hendrerit dictum</a>. 
          Praesent porta, purus eget sagittis imperdiet, nulla mi ullamcorper metus, id hendrerit metus diam vitae est. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
        </div>
        <div class="col-md-4 profile">
          <div class="image-wrap">
            <div class="hover-wrap">
              <span class="overlay-img"></span>
              <span class="overlay-text-thumb">COO/Founder</span>
            </div>
            <img src="assets/images/chase.png" alt="Chase Merlin">
          </div>
          <h3 class="profile-name">Chase Merlin</h3>
          <p class="profile-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac augue at erat <a href="#">hendrerit dictum</a>. 
          Praesent porta, purus eget sagittis imperdiet, nulla mi ullamcorper metus, id hendrerit metus diam vitae est. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
        </div>
        <div class="col-md-4 profile">
          <div class="image-wrap">
            <div class="hover-wrap">
              <span class="overlay-img"></span>
              <span class="overlay-text-thumb">CTO/Founder</span>
            </div>
            <img src="assets/images/zach.png" alt="Zack McCormick">
          </div>
          <h3 class="profile-name">Zach McCormick</h3>
          <p class="profile-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac augue at erat <a href="#">hendrerit dictum</a>. 
          Praesent porta, purus eget sagittis imperdiet, nulla mi ullamcorper metus, id hendrerit metus diam vitae est. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
        </div>
      </div>
    </div>
  </section>
  <!-- End About Section -->

  <div>
    <hr class="double-margin">
  </div>

  <!-- Contact Section -->
  <header id="contact" class="contact">
    <div class="container">
      <div class="row">
        <h2 class="text-center blue margin-40">Inquire</h2>
        <div class="col-md-9">
          <form id="form" role="form">
            <div class="form-group">
              <label for="exampleInputName">Name</label>
              <input type="text" class="form-control" id="exampleInputName" placeholder="Name" required ng-model="newMessage.fullname">
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email" required ng-model="newMessage.email">
            </div>
            <div class="form-group">
              <label for="exampleInputMessage">Message</label>
              <textarea type="text" class="form-control" id="exampleInputMessage" placeholder="Message" ng-model="newMessage.message"></textarea>
            </div>
          </form>
          <div class="row">
            <div class="col-md-4 col-md-offset-4">
              <button type="submit" id="button-blue" class="btn-blue-animate btn-text-transparent btn-block" ng-click="addMessage()">Submit</button>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <ul class="details">
            <li><p class="text-center blue"><span class="fa fa-envelope fa-1x"></span> &nbsp; info@spotwise.co</p></li>
            <br>
            <li><p class="text-center blue"><span class="fa fa-phone fa-1x"></span> &nbsp; 1 (813) 555-5555</p></li>
            <br>
            <li><p class="text-center blue"><span class="fa fa-map-marker fa-1x"></span> &nbsp; 41 Peabody Street,<br>Nashville, TN</p></li>
          </ul>
        </div>
      </div>
    </div> <!-- /.container -->
  </header> <!-- /.intro-header -->
  <!-- /Contact Section -->

<footer class="footer">
  <div class="container">
      <p>SpotWise &copy; 2014</p>
  </div>
</footer>
